<div class="px-5">
  <h1>Пользователи</h1>
</div>
<nav class="px-5">
<% @users.each_with_index do |user, index| %>
  <%= index + 1 %>
  <%= user.name %>
  <%= user.email %>
    <%= form_for(:confirm_gender) do |f| %>
    <div class="field">
    <%= f.label "Пол" %>
    </div><br />
  <% end %>
<% end %>
<%= link_to "Назад", user_path(current_user) %>
</nav>
