<nav class="px-5">
<h1>Данные пользователя</h1>
<%= @user.name %>
<%= @user.email %><br />
  <%= form_for(:confirm_gender) do |f| %>
    <div class="field">
    <%= f.label "Пол" %>
    <%= @gender %>
    <%= f.check_box :gender, {}, true, false %>
    <%= f.submit "Подтвердить", class: "button small radius" %>
    </div><br />
  <% end %>
  <% if current_user.admin? %>
    <%= @user.updated_at %>
  <% end %><br />
  
  <% if current_user.admin? %>
    <%= link_to "Все пользователи", users_path %><br />
  <% end %>

<%= link_to 'Назад', destroy_user_session_path, method: :delete %>
</nav>
